@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.game-info-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(24, 48, 182);
}

.game-info-description {
  font-size: 1.5rem;
  text-align: center;
}
.game-info-description {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(24, 48, 182);
}
.game-info-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.game-info-container {
  position: relative;
  top: -400px;
}
.game-info-container span {
  border-right: 2px solid #000;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
